@{
    ViewData["Title"] = "Home Page";   
}
@model IEnumerable<DevBlog.Models.BlogEntry>

<div class="intro">
    <p>Hello, and welcome to my dev blog! I make posts about programming, web development, software, and other topics I am learning.</p>
</div>

<div class="content-container">
    @foreach (var blogEntry in Model)
    {
        <div class="blog-post">
            <a class="title" asp-controller="BlogEntry" asp-action="Index" asp-route-id="@blogEntry.Id">
                @blogEntry.Title
            </a>
            <p>@blogEntry.Date</p>
            <p>@blogEntry.Description</p>
            <a class="blog-link" asp-controller="BlogEntry" asp-action="Index" asp-route-id="@blogEntry.Id">
                Read more...
            </a>
            <div class="spacing"></div>
        </div>
    }
</div>
